/*
Theme Name: Westland
Theme URI: https://tareqanwar.com/themes/westland/
Author: Tareq Anwar
Author URI: https://tareqanwar.com/
Description: A wordpress theme for Westland.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:  one-column, two-columns, header-menu, left-sidebar, bootstrap-support 
*/

body {
	padding: 0;
	margin: 0;
	background-color: #f3f3f2;
	font-size: 16px;
	line-height: 140%;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 60px auto 0;
	padding: 0;
	position: relative;
}


/* BLOCK LAYOUT
------------------------------------------------------------- */

/* HEADER
------------------------------------------------------------- */

header.main {
	width: 100%;
	height: 150px;
	position: relative;
	background: url(images/header-2.jpg); 
	position: relative;
}

.home header.main {
	background: url(images/header.jpg); 
}

#content {
	float: left;
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

.site_title  {
	position: absolute;
    bottom: 30px;
    left: 24px;
    padding: 0px;
    color: #FFF;
    font-weight: 700;
    display: block;
    width: 310px;
    height: 80px;
}

/* NAVIGATION
------------------------------------------------------------- */

ul.menu, .menu ul {
	padding: 0;
	margin: 0;
}

ul.menu li, .menu ul li {
	list-style-type: none;
	display: inline-block;
}

a:hover, a:active {
	opacity: 0.7
}

/* UTIL NAV */

nav#util {
	position: absolute;
	top: -30px;
	right: 0;
	width: auto;
	text-align: right;
	background-color: transparent;

}

nav#util a {
	display: block;
	line-height: 14px;
	color: #000;
	text-decoration: none;
    padding: 0 10px;
	font-size: 14px;
}

nav#util li:nth-child(n+3):nth-last-child(n+2) a {
	border-right: 1px solid #333;
}
/* MAIN NAV */

nav#main {
	width: 100%;
	color: #000;
	min-height: 50px;
	height: auto !important;
	background-color: #0a7189;
	display: none;
	padding-left: 0px;
}

nav#main ul.menu li {
	display: block;
}

nav#main a {
	display: block;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
    text-transform: uppercase;
}

nav#main a:hover,
nav#main a:active, nav#main li.current-menu-item a,
nav#main li.current_page a {
	color: #fff;
	background: #4ab1ca;
	opacity: 1.0;
}

nav#main li {
	margin-right: -7px;
}

a.menu_toggle {
	display: block;
	width: 44px;
	height: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-image: url('images/menu-icon.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
}

/* FOOTER NAV */

nav#footer ul {
	margin: 0 aut0;
}

nav#footer ul a {
	padding: 0 10px;
	color: #FFF;
    font-size: 12px;
	border-right: 1px solid #fff;
}

nav#footer ul li.current-menu-item a {
	color: #ff8f21;
}

nav#footer ul li:last-child a {
	border-right: 0;
}

/* Primary Div */
#primary img {
	width: 100%;
	height: auto;
	margin: 25px 0;
}

/* Secondary Div */
#secondary h3 {
	color: #0a7189;
	font-size: 18px;
}

#secondary ul {
	list-style: none;
	padding-left: 0;
}

#secondary ul li {
	margin-bottom: 10px;
}

#secondary ul li a {
	color: #000000;
	text-decoration: underline;
}

#secondary ul li a.active {
	color: #ff8f21;
}

/* Bloque Quote */
blockquote {
	color: #666666;
	border-left: 0px;
	margin: 1.5em 10px;
	padding: 5px 45px;
	quotes: "\201C""\201D""\2018""\2019";
	position: relative;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 10em;
	line-height: 0.1em;
	position: absolute;    
	left: -16px;
    top: 50px;
}

blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 10em;
	line-height: 0.1em;
	position: absolute;    
	right: -12px;
    bottom: -25px;
}

/* Callouts */
div#callouts {
	color: #666666;
	padding: 20px 0;
}

div#callouts h2 {
	font-size: 22px;
}

div#callouts .readmore {
	background-color: #ff8f21;
	color: #fff;
	padding: 5px 10px;
	float: right;
}

/* Category Page*/
h1.cat_title {
	color: #0a7189;
	font-size: 24px;
	font-weight: bold;
}

h2.cat_title {
	color: #ff8f21;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}

#category_post h2, #category_post h2 a, #category_post h2 a:hover{
	font-size: 18px;
	color: #000000;
}

#cat_thumb img {
	width: 125px;
}

blockquote #cat_thumb img {
	margin-top: 0;
	width: 100px;
}

#category_post .learnmore {
	float: right;
	font-weight: bold;
}

/* FOOTER
------------------------------------------------------------- */

footer.main {
	padding: 5px 0 0;
	text-align: center;
	line-height: 30px;
	font-size: 80%;
	background-color: #0a7189;
	color: #FFF;
}

footer.main img {
	margin-top: 20px;
}

footer.main img#wordmark {
	margin-right: 20px;
	margin-top: 40px;
}

@media screen and (min-width: 768px) {
	nav#main {
		display: block;
	}

	nav#main ul.menu li {
		display: inline-block;
	}

	nav#main a {
	  border-right: 1px solid #eef0f1;
    }
    
    nav#main li:last-child a{
        border-right: 0px;
      }

	a.menu_toggle {
		display: none;
	}

}